langchain
langchain-community
langchain-huggingface
langchain-text-splitters
transformers
sentence-transformers
faiss-cpu
pymysql
sqlalchemy
python-dotenv
streamlit
fastapi
uvicorn
plotly
pandas
numpy
spacy
groq
pypdf2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl